.ql-container {
  font-size: 16px;
  color: #363940;
}
.ql-container.ql-snow {
   border: none !important;
   height: 100vh;
 }
.ql-editor {
  line-height: 1.5;
}
.ql-snow .ql-editor h1 {
  font-size: 22px;
}
.ql-snow .ql-editor h2 {
  font-size: 20px;
}
.ql-snow .ql-editor h3 {
  font-size: 18px;
}
.ql-editor ol,
.ql-editor ul {
  padding-left: 3px;
}
.ql-editor ol li:not(.ql-direction-rtl) {
  padding-left: 20px;
}
.ql-editor ol li[data-list=bullet] {
  counter-reset: none;
  counter-increment: none;
}
.ql-editor li:not(.ql-direction-rtl)::before {
  width: auto;
  text-align: left;
  margin-left: -20px;
  margin-right: 8px;
}
.ql-editor ol li[data-list=bullet]::before {
  color: #5562F2;
  content: '\2022';
  width: 12px;
}
.ql-editor ol li[data-list=ordered]:before {
  color: #5562F2;
  font-size: 16px;
}
hr {
  border: 0 none;
  height: 1px;
  color: #8f959e1e;
  background-color: #8f959e1e;
}
.ql-snow .ql-editor blockquote {
  border-left: 2px solid #5562F2;
  padding-left: 12px;
  color: #646A73;
}
.ql-editor .ql-code-block-container,
.ql-snow .ql-editor pre.ql-syntax {
  font-size: 14px;
  color: #646A73;
  background-color: #F5F5F8;
  border-radius: 4px;
  border: 0.5px solid #8f959e14;
  margin: 5px 0;
  padding: 16px 24px;
  box-sizing: border-box;
  counter-reset: line-numbering;
}
.ql-snow a {
  color: #5562F2;
}
.ql-editor .ql-code-block::before,
pre .hljs-line::before {
  display: inline-block;
  content: counter(line-numbering) '.';
  counter-increment: line-numbering;
  width: 30px;
  text-align: right;
  margin-left: -16px;
  margin-right: 16px;
}
span.mention {
  background-color: #5562F2;
  padding: 2px 12px;
  border-radius: 20px;
  color: #FFFFFF;
}
.ql-snow .ql-editor blockquote {
  margin: 0;
}
.ql-editor .ql-video {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 100%;
  width: auto;
  height: auto;
}
.ql-editor .ql-video video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.ql-editor .ql-video .video-duration-mask {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background: #0000008C;
  color: #FFFFFF;
  padding: 2px;
  width: 60px;
  height: 24px;
  font-size: 13px;
  text-align: center;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
